.liked{
    min-height: 500px;
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    justify-content: start;
}

.main__productsTitle {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 22px;
}

.main__pCLikedTrue {
    width: 40px;
    height: 40px;
    color: #0080ff;
    border: 1px solid #0080ff;
    border-radius: 5px;
    background: none;
    display: grid;
    place-items: center;
    cursor: pointer;
    font-size: 20px;
}

.liked__posts {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px 0;
}

a {
    color: currentColor;
}