.comments {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.comments img {
    width: 32%;
}

.comments__body {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    border: 2px solid #0080ff;
    border-radius: 15px;
}

.comments__content {
    width: 100%;
    height: 455px;
    border-bottom: 1px solid #0080ff;
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    overflow: auto;
    gap: 28px;
}

.comments__in {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    align-items: center;
    min-height: 45px;
}

.comments__in-body {
    padding: 10px 15px;
    background: #0080ff;
    padding: 5px;
    border-radius: 5px 5px 0 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.comments__in-body span {
    min-width: 50px;
    min-height: 40px;
    font-size: 12px;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    background: #0080ff;
    padding: 5px;
}

.comments__in-user-img {
    min-width: 45px;
    min-height: 45px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: #0080ff;
    color: #fff;
    font-size: 20px;
    font-family: cursive;
    font-weight: 500;
}

.comments__form {
    width: 100%;
    height: 45px;
    display: flex;
}

.comments__form-inp {
    height: 100%;
    flex: 1;
    border-radius: 12px;
    border: none;
    outline: none;
    padding-left: 15px;
    font-size: 16px;
}

.comments__form-btn {
    height: 100%;
    padding: 0 15px;
    border: none;
    outline: none;
    border-radius: 0 0 12px 0;
    color: #fff;
    background: #0080ff;
    font-size: 16px;
}

@media screen and (max-width: 990px) {
    .comments {
        flex-direction: column-reverse;
    }
    .comments img {
        display: none;
    }
    .comments__body {
        width: 90%;
    }
    .comments__form-btn{
        padding: 0 10px;
    }
}
