.main {
    width: 100%;
    padding: 50px 0;
}

a {
    text-decoration: none;
}

.main__pageLinks {
    display: flex;
    gap: 25px;
}

.main__pLItem {
    width: 400px;
    height: 180px;
    border-radius: 10px;
}

.main__pLItem:nth-child(1) {
    background: url(../../assets/images/page__link3.jpg) no-repeat center/cover;
}

.main__pLItem:nth-child(2) {
    background: url(../../assets/images/page__link2.jpg) no-repeat center/cover;
}

.main__pLItem:nth-child(3) {
    background: url(../../assets/images/page__link1.jpg) no-repeat center/cover;
}

.main__products {
    display: flex;
    width: 100%;
    height: auto;
    padding: 30px 0;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.main__productsCard {
    width: 275px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 34, 0.07);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 34, 0.07);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 34, 0.07);
    border-radius: 15px;
    color: #222;
    flex-wrap: wrap;
    gap: 12px;
    border: 1px solid #ddd5;
}

.main__pCImg {
    width: 100%;
    height: 155px;
    border-radius: 12px;
}

.main__pCTitle {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
}

.caca {
    display: flex;
    width: 100%;
    height: 45px;
    align-items: flex-end;
    justify-content: space-between;
}

.main__pCPrice {
    width: calc(40% - 5px);
    text-align: left;
    height: 35px;
    font-weight: 400;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.main__pCCategory {
    border: 2px solid #0080ff;
    padding: 5px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    border-radius: 2px;
    color: #0080ff;
}

.main__pCBtns {
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: space-between;
}

.main__pCLiked {
    width: 40px;
    height: 100%;
    border: 1px solid #0080ff;
    outline: none;
    background: none;
    border-radius: 5px;
    font-size: 20px;
    color: #0080ff;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: .3s ease;
}

.main__pCBtn {
    cursor: pointer;
    display: grid;
    place-items: center;
    height: 100%;
    width: 65%;
    background: #0080ff;
    border-radius: 8px;
}

.main__pCBtn button {
    color: #fff;
    width: 100%;
    font-size: 18px;
    height: 100%;
    border: none;
    outline: none;
    background: none;
}

.main__pc-comment {
    width: 100%;
    margin-top: 8px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #0080ff;
    border-top: 1px solid #0080ff;
    padding: 0 2px;
}

@media screen and (max-width: 990px) {
    .main__pageLinks {
        flex-wrap: wrap;
        justify-content: center;
    }
    .main__pLItem {
        height: 180px;
        width: 380px;
    }
}

@media screen and (max-width: 660px) {
    .main__products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        padding: 0 40px;
    }
    .main__productsCard {
        width: auto;
        gap: 10px;
    }
    .main__pCImg {
        height: 140px;
    }
}

@media screen and (max-width: 530px) {
    .main__products {
        padding: 0 10px;
    }
    .main__productsCard {
        gap: 5px;
        padding: 5px;
    }
    .container {
        margin: auto;
    }
    .main__pCCategory {
        font-size: 12px;
    }
    .main__pCPrice {
        font-size: 14px;
    }
    .main__pCBtns {
        margin-top: 5px;
        height: 35px;
    }
    .main__pCBtn button {
        font-size: 14px;
    }
    .main__pCBtn {
        width: 55%;
    }
    .main__pCLiked {
        width: 35px;
        font-size: 16px;
    }
    .main__pCImg {
        height: 120px;
    }
    .main__pc-comment {
        margin-top: 6px;
        height: 32px;
        font-size: 14px;
    }
    .main__products {
        padding: 20px 0;
    }
}