.single-page {
    height: 90vh;
    display: flex;
    gap: 20px;
    align-items: center;
}

.single-page__images {
    width: 50%;
    height: 80vh;
}

.single-page__images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.single-page__contents {
    height: 80vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding-right: 10px;
}

.single-page__content-title {
    font-weight: 500;
    font-size: 19px;
    margin-bottom: 20px;
}

.single-page__content-sha {
    margin-bottom: 10px;
    font-size: 17px;
}

.single-page__content-sha span {
    font-weight: 500;
}

.single-page__contents hr {
    margin-bottom: 10px;
    height: 1px;
    background: #0080ff;
    border: none;
    outline: none;
}

.single-page__content-detailsTitle {
    font-weight: 500;
    font-size: 18px;
}

.single-page__content-detailsCol {
    height: auto;
    width: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-bottom: 10px;
}

.single-page__content-detailsItem {
    font-size: 15px;
}

.single-page__content-detailsItem span {
    font-weight: 500;
}

.single-page__content-price {
    font-size: 17px;
    margin-bottom: 10px;
}

.single-page__content-price span {
    font-weight: 500;
}

.single-page__content-btns {
    display: flex;
    align-items: center;
    padding: 5px 0;
    gap: 10px;
    margin-bottom: 5px;
}

.single-page__content-btn {
    padding: 7px 12px;
    border: none;
    outline: none;
    background: #0080ff;
    color: #fff;
    font-weight: 500;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
}

.single-page__content-desc {
    padding: 5px 0;
    font-size: 15px;
}

.single-page__content-desc span {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
}

.yellow {
    background: rgb(255, 217, 0);
}

.green {
    background: rgb(4, 226, 0);
}
