.banner {
    border-radius: 25px;
    overflow: hidden;
}

.banner img {
    width: 98%;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
}

@media screen and (max-width: 990p) {
    .banner img {
        height: 400px;
    }
}

@media screen and (max-width: 700px) {
    .banner img {
        height: 300px;
    }
}

@media screen and (max-width: 500px) {
    .banner img {
        height: 200px;
    }
}