.navbar {
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 25;
    background: #fff;
}

.navbar .container {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 25px;
    position: relative;
    justify-content: space-between;
}

.nav__logo {
    font-weight: 500;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    background: #0080ff;
    padding: 6px 11px;
    border-radius: 0 15px 0 15px;
}

.nav__logo span {
    font-weight: 300;
}

.nav__collection {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__btn {
    padding: 7px 25px;
    border-radius: 5px;
    border: none;
    background: #a4d2ff;
    color: #0080ff;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 22px;
    outline: none;
}

.nav__col {
    display: flex;
    height: 100%;
    gap: 25px;
    align-items: center;
}

.nav__col a {
    display: flex;
    gap: 15px;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    align-items: center;
    transition: .4s ease;
    text-decoration: none;
    font-size: 18px;
    color: #000;
}

.nav__col a:hover {
    background: #eee5;
}

.nav__dropdown {
    position: absolute;
    top: 90px;
    left: 25px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: #0080ff;
    color: #fff;
    gap: 10px;
    z-index: 15;
}

.nav__dropdown a {
    color: #fff;
    text-decoration: none;
    width: 200px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    align-items: center;
}

.nav__dropdown a:nth-child(2),
.nav__dropdown a:nth-child(3) {
    border-bottom: 1px solid #eee;
}

.nav__dropdown::before {
    content: '';
    position: absolute;
    top: -8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: #0080ff;
    rotate: -45deg;
    border-radius: 5px;
}

.nav__dropdown.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: .3s ease;
}

.nav__dropdown.unactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: .3s ease;
}

.nav__btn:last-child {
    display: none;
}

@media screen and (max-width: 800px) {
    .nav__collection {
        right: 0;
        opacity: 1;
        visibility: visible;
        transition: .5s ease;
    }
    .nav__collection.active {
        right: -100%;
        opacity: 0;
        visibility: hidden;
        transition: .5s ease;
    }
    .nav__btn:last-child {
        display: block;
        z-index: 15;
    }
    .nav__btn:first-child {
        margin-top: 50px;
        z-index: 27;
    }
    .nav__collection {
        flex-direction: column;
        position: fixed;
        z-index: 10;
        background: #fff4;
        backdrop-filter: blur(3px);
        right: 0;
        top: 0;
        height: 100vh;
        width: 200px;
        gap: 0;
        align-items: start;
        padding: 20px 10px;
    }
    .nav__col {
        flex-direction: column;
        width: 100%;
        gap: 15px;
        margin-top: 25px;
    }
    .nav__dropdown {
        left: 45%;
        top: 45px;
    }
    .nav__col a {
        width: 100%;
        font-size: 18px;
        padding: 0 5px;
    }
    .nav__dropdown.active {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        transition: .3s ease;
        scale: .8;
    }
    .nav__dropdown.unactive {
        opacity: 0;
        visibility: hidden;
        transform: translateX(35px);
        transition: .3s ease;
        scale: .8;
    }
    .nav__dropdown::before {
        right: -10px;
        top: 10px;
    }
}